petals/su-SOAP-SMRegistry-provide/src/main/jbi/smregistry.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://smregistry.choreos.eu" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://smregistry.choreos.eu" name="SMRegistryWSService">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://smregistry.choreos.eu" version="1.0" targetNamespace="http://smregistry.choreos.eu">
  <xs:element name="addSupermarket" type="tns:addSupermarket" />
  <xs:element name="addSupermarketResponse" type="tns:addSupermarketResponse" />
  <xs:element name="getList" type="tns:getList" />
  <xs:element name="getListResponse" type="tns:getListResponse" />
  <xs:element name="removeSupermarket" type="tns:removeSupermarket" />
  <xs:element name="removeSupermarketResponse" type="tns:removeSupermarketResponse" />
  <xs:complexType name="addSupermarket">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addSupermarketResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeSupermarket">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeSupermarketResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getList">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getListResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </types>
  <message name="getList">
    <part name="parameters" element="tns:getList" />
  </message>
  <message name="getListResponse">
    <part name="parameters" element="tns:getListResponse" />
  </message>
  <message name="addSupermarket">
    <part name="parameters" element="tns:addSupermarket" />
  </message>
  <message name="addSupermarketResponse">
    <part name="parameters" element="tns:addSupermarketResponse" />
  </message>
  <message name="removeSupermarket">
    <part name="parameters" element="tns:removeSupermarket" />
  </message>
  <message name="removeSupermarketResponse">
    <part name="parameters" element="tns:removeSupermarketResponse" />
  </message>
  <portType name="SMRegistryWS">
    <operation name="getList">
      <input message="tns:getList" />
      <output message="tns:getListResponse" />
    </operation>
    <operation name="addSupermarket">
      <input message="tns:addSupermarket" />
      <output message="tns:addSupermarketResponse" />
    </operation>
    <operation name="removeSupermarket">
      <input message="tns:removeSupermarket" />
      <output message="tns:removeSupermarketResponse" />
    </operation>
  </portType>
  <binding name="SMRegistryWSPortBinding" type="tns:SMRegistryWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="getList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addSupermarket">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="removeSupermarket">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SMRegistryWSService">
    <port name="SMRegistryWSPort" binding="tns:SMRegistryWSPortBinding">
      <soap:address location="http://localhost:1234/smregistry" />
    </port>
  </service>
</definitions>

