petals/su-SOAP-CustomerWS-provide/src/main/jbi/customerWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.choreos.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.choreos.eu/" name="CustomerWSService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.choreos.eu/" schemaLocation="customerWS_xsd_1" />
    </xsd:schema>
  </types>
  <message name="setSupermarketsList">
    <part name="parameters" element="tns:setSupermarketsList" />
  </message>
  <message name="setSupermarketsListResponse">
    <part name="parameters" element="tns:setSupermarketsListResponse" />
  </message>
  <message name="setProductsList">
    <part name="parameters" element="tns:setProductsList" />
  </message>
  <message name="setProductsListResponse">
    <part name="parameters" element="tns:setProductsListResponse" />
  </message>
  <message name="getLowestPriceForList">
    <part name="parameters" element="tns:getLowestPriceForList" />
  </message>
  <message name="getLowestPriceForListResponse">
    <part name="parameters" element="tns:getLowestPriceForListResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="makePurchase">
    <part name="parameters" element="tns:makePurchase" />
  </message>
  <message name="makePurchaseResponse">
    <part name="parameters" element="tns:makePurchaseResponse" />
  </message>
  <portType name="CustomerWS">
    <operation name="setSupermarketsList">
      <input message="tns:setSupermarketsList" />
      <output message="tns:setSupermarketsListResponse" />
    </operation>
    <operation name="setProductsList">
      <input message="tns:setProductsList" />
      <output message="tns:setProductsListResponse" />
    </operation>
    <operation name="getLowestPriceForList">
      <input message="tns:getLowestPriceForList" />
      <output message="tns:getLowestPriceForListResponse" />
      <fault message="tns:Exception" name="Exception" />
    </operation>
    <operation name="makePurchase">
      <input message="tns:makePurchase" />
      <output message="tns:makePurchaseResponse" />
      <fault message="tns:Exception" name="Exception" />
    </operation>
  </portType>
  <binding name="CustomerWSPortBinding" type="tns:CustomerWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="setSupermarketsList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="setProductsList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getLowestPriceForList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal" />
      </fault>
    </operation>
    <operation name="makePurchase">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="CustomerWSService">
    <port name="CustomerWSPort" binding="tns:CustomerWSPortBinding">
      <soap:address location="http://localhost:1234/customerWS" />
    </port>
  </service>
</definitions>

